@font-face {
 	font-family: Poppins;
  	src: url("../font/Poppins-Regular.ttf") format("opentype");
}

* {
	font-family: Poppins;
}

.text-blue {
	color: #007ced;
}

.text-orange {
	color: #ffce00;
}

.font-36 {
	font-size: 36px;
}

.font-24 {
	font-size: 24px;
}

.font-20 {
	font-size: 20px;
}
